body {
    background-image: url("https://wallpapercave.com/wp/TiClkkG.jpg");
    background-repeat: repeat-x;
    padding-top: 22%;
}

#start-panel {
   text-align: center;
  
}

h2 {
    font-size: 30px;
}

.panel-title {
    font-size: 22px;
    font-weight: bold;
}

#buttons {
    text-align: center;
}

#display {
    text-align: center;
    color: white;
    font-size: 30px;
}

#answers {
    align-items: center;
    color: white;
}